body {
    background-color: teal;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header{
    text-align: center;
    padding-top: 15px;
    font: 20px "Arial Bold", Helvetica, Arial, sans-serif;
    display: block;
}
.container{
    margin-left: 700px;
    margin-right: 700px;
    height: 250px;
    background-color: #b5bdcc;
}
.field {
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.error{
    text-align: center;
}
.signup{
    display: block;
    margin-top: 20px;
    margin-left: 10px;
}
